services:
  GLM-4-1V-9B-Thinking:
    container_name: GLM-4.1V-9B-Thinking
    restart: always
    image: vllm/vllm-openai:v0.11.0
    ipc: host
    volumes:
      - /data/Project/.cache/huggingface:/root/.cache/huggingface
    command:
      [
        "--model", "zai-org/GLM-4.1V-9B-Thinking",
        "--served-model-name", "GLM-4.1V-9B-Thinking",
        "--gpu-memory-utilization", "0.8",
        "--max-model-len", "8192",
        "--max-num-seqs", "32",
        "--max-num-batched-tokens", "8192",
        "--reasoning-parser", "deepseek_r1",
        "--trust-remote-code",
        "--limit-mm-per-prompt", "{\"image\": 3, \"video\": 0}",
        "--mm-processor-cache-gb", "8",
        "--api-key", "S+nR5mYhX52exXsXbANsYnDYS7VgliJK5xmTsKHCrB0="
      ]
    ports:
      - 8004:8000
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/health', timeout=5).read()\""]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 180s
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]

networks:
  default:
    name: sl-sad-sdd-service-network
    external: true
